@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9acb8a;
  --foreground: #8c8c8c;
  --secondary: #656565;
  --background: #252525;
}

@supports (animation-timeline: scroll()) {
  .logo-animation {
    animation: logo forwards;
    animation-timeline: scroll();
    animation-range: 0 50px;
  }
  .header-animation {
    animation: stick forwards;
    animation-timeline: scroll();
    animation-range: 0 50px;
  }
}

@keyframes stick {
  from {
    position: sticky;
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  to {
    position: sticky;
    background-color: rgba(37, 37, 37, 0.6);
    backdrop-filter: blur(10px);
  }
}
@keyframes logo {
  from {
    width: 100px;
  }
  to {
    width: 70px;
  }
}

.table thead tr th {
  text-align: left;
  color: var(--secondary);
  font-weight: 600;
  font-size: 0.8rem;
  padding-right: 1rem;
}
.table tr td {
  padding-top: 1rem;
  padding-right: 1rem;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}
.fade-in-slow {
  animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blur-out {
  animation: blur-out 1s ease-in-out forwards;
}
@keyframes blur-out {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(5px);
  }
}
.animate-fade-in-out {
  animation: fade-in-out 0.8s infinite;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
